$white: #fff;
$white-bg: #f5f5f5;
$gray: #f9f9f9;
$blue: #3b49df;
$black: #171717;
$light-purple: #836EFF;
$purple: #7354FF;
$dark-purple: #6B39FF;
$red: #FF5151;

$font-weights: ("black": 800,
        "bold": 700,
        "medium": 600,
        "regular": 400,
        "light": 300,);

$transition: .3s cubic-bezier(0.25, 0.1, 0.25, 1);
$infinite-border-radius: 100000px;
$z-index-modal: 100000;

$header-height: 5.6rem;