@use "../../scss/utils/variables";

.register-button {
  background-color: transparent;
  border: .1rem solid variables.$white;
  color: variables.$white;
  margin-right: 2rem;
  border-radius: 3.9rem;
  font-weight: map-get(variables.$font-weights, "medium");
  font-size: 1.8rem;
  line-height: 2.5rem;
  @media screen and (max-width: 1200px) {
    margin: 0;
  }
}
