@use "../../scss/utils/variables";
@use "../../scss/utils/visually-hidden";
@use "../../scss/utils/mixins";

.hero {
  padding-bottom: 5rem;

  &__wrapper {
    @include mixins.wrapper-desktop;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    user-select: none;
    width: auto;
    max-height: 40rem;
    flex-shrink: 0;
  }

  &__content {
    margin-left: 2rem;
    margin-top: 4rem;
    padding-left: 10rem;
  }

  &__title {
    font-weight: map-get(variables.$font-weights, "bold");
    font-size: 7.5rem;
    line-height: 110%;
    color: variables.$white;
  }

  &__text {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.5;
    color: variables.$white;
    max-width: 77rem;
  }

  &__form {
    padding: 6.6rem 5.4rem;
  }

  @media screen and (max-width: 1200px) {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
      margin-top: 2rem;
    }
    &__content {
      margin: 0;
      padding: 0;
      text-align: right;
    }
    &__image {
      display: none ;
    }
  }
  @media screen and (max-width: 700px) {
    &__content {
      margin-top: 5rem;
      text-align: center;
    }
    &__text, &__title {
      color: variables.$black;
    }

    &__title {
      font-size: 5rem;
    }
  }

}

