@use "../../scss/utils/variables";
@use "../../scss/utils/mixins";

.university {
  @include mixins.wrapper-desktop;

  position: relative;
  border-radius: 5rem;
  padding: 4rem;

  background: rgba(variables.$gray, .5);
  box-shadow: .8rem 4rem 4rem -.5rem rgba(214, 214, 214, 0.25);
  backdrop-filter: blur(1.85rem);

  &__name {
    font-weight: map-get(variables.$font-weights, bold);
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-weight: map-get(variables.$font-weights, bold);
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__logo, &__empty-image-ico {
    display: block;
    max-width: 100%;
    max-height: 35rem;
    border-radius: 4rem;
    margin: 0 auto 4rem;
  }

  &__empty-image-ico {
    max-width: 20rem;
  }

  &__description {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__tag {
    padding: .5rem 1rem;
    border-radius: 5rem;
    background-color: variables.$white;
    border: .1rem solid variables.$black;
    min-width: 5rem;
    text-align: center;
  }

  &__departments {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    max-height: 50rem;
  }

  @media screen and (max-width: 1200px) {
    margin: 0 2rem;
  }
}