@use "../../scss/utils/variables";

.logo {
  margin-right: auto;
  background-color: variables.$black;
  padding: .5rem 1rem;
  border-radius: .6rem;
  cursor: pointer;

  &__text {
    font-size: 2.24rem;
    font-weight: map-get(variables.$font-weights, "bold");
    letter-spacing: .15rem;
    color: variables.$white;
    line-height: 1;
    white-space: nowrap;
  }

  @media screen and (max-width: 500px) {
    margin-right: 0;
  }
}