@use "../../../scss/utils/variables";

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: variables.$gray;
  border-radius: variables.$infinite-border-radius;

  cursor: default;

  &__name {
    font-size: 1.4rem;
    max-width: 65ch;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.6em 0 0.6em 1.2rem;
  }

  &__deleteButton {
    padding: 0.6em;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    width: 3.2rem;
    height: 3.2rem;

    path {
      fill: variables.$red;
    }
  }
}