@use "../../scss/utils/variables";

.login-button {
  background-color: variables.$white;
  border: .1rem solid variables.$white;
  color: variables.$black;
  margin-right: 2rem;
  border-radius: 3.9rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  @media screen and (max-width: 500px) {
    margin-right: 0;
  }

}
