@use "../../scss/utils/variables";
@use "../../scss/utils/mixins";

.header {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  z-index: 100;

  &__wrapper {
    @include mixins.wrapper-desktop;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }
  @media screen and (max-width: 1200px) {
    position: static;

    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

}