@use "../../scss/utils/variables";

.university-card {
  border-radius: 5rem;
  padding: 4rem;
  background-color: variables.$gray;

  &__name {
    font-weight: map-get(variables.$font-weights, bold);
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__logo, &__empty-image-ico {
    display: block;
    max-width: 100%;
    max-height: 35rem;
    border-radius: 4rem;
    margin: 0 auto 4rem;
  }

  &__empty-image-ico {
    max-width: 20rem;
  }

  &__description {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.8rem;
  }

  &__tag {
    padding: .5rem 1rem;
    border-radius: 5rem;
    background-color: variables.$white;
  }

  @media screen and (max-width: 500px) {
    &__name {
      font-size: 3rem;
    }
  }
}