@use "./scss/utils/variables";
@use "./scss/utils/mixins";

.app {
  &__wrapper {
    @include mixins.wrapper-desktop;

    margin-top: 3rem;
  }
}

.title {
  font-weight: map-get(variables.$font-weights, bold);
  font-size: 5rem;
}