@use "./scss/utils/variables";
@use "./scss/utils/mixins";

.app {
  min-height: 100vh;
  position: relative;
  padding-top: 12rem;

  @media screen and (max-width: 1200px) {
    padding: 0;
    &__bg {
      position: relative;
      left: -25rem;
    }
  }

  @media screen and (max-width: 700px) {

    &__bg {
      left: 10rem;
    }
  }


  &__bg-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    //left: calc(50% - 100rem);
    top: -15rem;

    width: 100%;

    margin: 0 auto;

    overflow: hidden;
    z-index: -1;
  }

  &__bg {
    width: 300rem;
  }
}

.title {
  font-weight: map-get(variables.$font-weights, bold);
  font-size: 5rem;
}

.form {
  max-width: 45rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: rgba(variables.$white, .9);
  box-shadow: .8rem 4rem 4rem -.5rem rgba(214, 214, 214, 0.25);
  backdrop-filter: blur(1.85rem);
  border-radius: 2rem;

  &__label {
    display: block;
    border-radius: 10000px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__input {
    width: calc(100% - .6rem);

    border: .2rem solid lighten(variables.$purple, 20%);

    padding: 1.5rem 2rem;
    background-color: transparent;
    border-radius: variables.$infinite-border-radius;

    font-weight: map-get($map: variables.$font-weights, $key: "medium");
    letter-spacing: .03rem;
    font-size: 1.8rem;

    &:focus,
    {
      outline: none;
    }

    &:focus {
      border: .2rem solid variables.$purple;
    }

    &::placeholder {
      color: rgba(variables.$black, .5);
    }
  }

  &__submit {
    width: 100%;
    margin-top: 2rem;
    background-color: variables.$purple;
    border-radius: 10000px;
    padding: 1.8rem 3.3rem;
    cursor: pointer;
    border: 0;

    white-space: nowrap;

    font-size: 1.8rem;
    line-height: 3.4rem;
    color: variables.$white;
    font-weight: map-get($map: variables.$font-weights, $key: "medium");

    &:active {
      outline: none;
      background-color: darken(variables.$purple, 10%);
    }
  }

  &__fieldset {
    width: 100%;
    border: 0;
    border-radius: .5rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__legend {
    font-weight: map-get($map: variables.$font-weights, $key: "medium");
    letter-spacing: .03rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  &__hint {
    display: block;
    font-size: 1.4rem;
    padding-bottom: .3rem;
  }

  &__textarea {
    border-radius: 2rem;
  }

  &__error {
    min-height: 4rem;
    color: variables.$red;
    font-size: 1.6rem;
  }
}

.main {
  &__title {
    text-align: center;
    color: variables.$white;
    font-size: 3rem;
    max-width: 50rem;
    margin: 0 auto 2rem;
  }

  &__wrapper {
    @include mixins.wrapper-desktop;
  }

  & &__link {
    text-decoration: underline;

    &:hover {
      opacity: .7;
    }
  }
}
