@use "./scss/utils/variables";
@use "./scss/utils/mixins";

.app {
  background-image: url('./assets/images/hero-background.png');
  background-repeat: no-repeat;
  background-size: calc(100vw + 8rem);
  background-position-x: -8rem;
  min-height: 100vh;

  &__wrapper {
    padding-top: 17rem;
  }
}

.title {
  font-weight: map-get(variables.$font-weights, bold);
  font-size: 5rem;
}

.form {
  max-width: 45rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$white;

  border-radius: 2rem;
  border: .6rem solid variables.$white;


  &__label {
    display: block;
    border-radius: 10000px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__input {
    width: calc(100% - .6rem);
    border: 0;

    border-bottom: .1rem solid variables.$gray;

    padding: 2.4rem 3.7rem 1.2rem 1.2rem;
    background-color: transparent;

    font-weight: map-get($map: variables.$font-weights, $key: "medium");
    letter-spacing: .03rem;
    font-size: 1.8rem;

    &:focus,
    &:focus-visible {
      outline: .2rem solid variables.$blue;
      border-bottom-color: transparent;
    }

    &::placeholder {
      color: variables.$gray;
    }

    &:required {
      border-color: variables.$blue;
      border-width: .2rem;
    }
  }

  &__submit {
    width: 100%;
    margin-top: 2rem;
    background-color: variables.$blue;
    border-radius: 10000px;
    padding: 1.8rem 3.3rem;
    cursor: pointer;
    border: 0;

    white-space: nowrap;

    font-size: 1.8rem;
    line-height: 3.4rem;
    color: variables.$white;
    font-weight: map-get($map: variables.$font-weights, $key: "medium");

    &:focus,
    &:focus-visible {
      outline: none;
      background-color: darken(variables.$blue, 10%);
    }
  }

  &__fieldset {
    width: 100%;
    border: 0;
    border-radius: .5rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__legend {
    font-weight: map-get($map: variables.$font-weights, $key: "medium");
    letter-spacing: .03rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}